{{#> base }}
<div class="container">
  <div class="panel-body">
    <form method="get" action="/users/forgot-password">
      <div class="form-group">
        {{!-- <label class="col-md-4">Enter your email</label> --}}
        <br/>
        <input type="email" class="form-control" name="email" />
      </div>
      {{#if error}}
      <span class="text-danger">{{error}}</span>
      {{/if}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
</div>
{{/base}}